* {
    margin: 0;
}
@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Regular.woff');
}
@font-face {
    font-family:Courgette ;
    src: url('../fonts/Courgette-Regular.woff');
}
@font-face {
    font-family:Limelight ;
    src: url('../fonts/Limelight-Regular.woff');
}
.header {
    background-color: #F9F7E8;
    width: 1110px;
    min-height: 88px;
}
.container {
    max-width: 77%;
    margin: auto;
}
.menu ul {
    padding: 0%;
    min-height: 88px;
    display: flex;
    align-items: center;
}
.header .menu ul li {
    display: flex;
}
.logo {
    display: flex; 
    flex-direction: row;
    width: 181px;
    height: 40px;
    font-size: 32px;
    margin-right: 79px;
    font-family: Courgette;
    }

span{
    color: #62BFAD;
}
.b {
    display: flex;
    width: 43px;
    height: 19px;
    margin-left: 17px;
    font-family: Lato;
}
.b:hover {
    cursor: pointer;
}
.promo {
    display: flex;
    width: 1110px;
    height: 486px;
    background-color: #D52047;
}
h1 {
    width: 738px;
    color: #FFFFFF;
    margin: 0%;
    font-family: Limelight;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    height: 116px;
}
h2 {
    padding-bottom: 40px;
    padding-top: 60px;
    font-family: Lato;
    font-size: 48px;
    line-height: 58px;
    color:#D52047;
    margin-left: 132px;
}
h3 {
    padding: 20px;
    font-family: Lato;
    font-size: 32px;
    line-height: 38px;
    text-align: left;
    color: black;
}
.about {
    width: 1110px;
    height: 621px;
    background-color: #EFF8F6;
}
.about .container {
    display: flex;
   
}
.left-block {
    background-color: #ececec;
    border-radius: 8px;
}
.content {
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    color: black;
    height: 37px;
    padding: 15px;
}
p {
    padding: 15px;
    font-size: 22px;
    font-family: Lato;
}
.im { 
    width: 435px;
    height: 333px;
}
.c {
    padding-left: 20px;
    width: 225px;
    height: 94px;
    font-family: Lato;
    font-size: 16px;
}
.link {
    padding: 20px;
    color: #D52047;
}
.cards .container {
    display: flex;
}
.card {
    height: 409px;
    border: 2px solid #E5E5E5;
    border-radius: 8px;
}
a .link {
    font-family: Lato;
}
.cards {
    height: 667px;
    width: 1110px;
}
footer{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1110px;
    height: 131px;
    background-color: #F9F7E8;
}
.p1 {
    width: 168px;
    height: 16px;
    text-align: center;
    padding: 15px;
    font-family: Lato;

}
.a {
    width: 230px;
    padding: 20px;
}
.link1 {
    color: black;
}
#car {
    margin-left: 17px;
}
a {
    margin: 5px;
    font-family: Lato;
}