
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
 margin: auto;
  
}

a {
  text-decoration: none;
  color: $primary-color;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.container {
  max-width: 1100px;
  margin: auto;
justify-content: space-between;
  padding: 0 20px;
}

// Header
header {
  padding: 15px 0;
    .logo {
      a {
        img {
          height: 32px;
        }
      }
    }

    nav {
      ul {
        display: flex;
        list-style: none;

        li {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }

          a {
            color: $primary-color;
            font-size: 16px;
            padding: 8px 0;
            position: relative;

            &:after {
              content: "";
              display: block;
              height: 2px;
              width: 0;
              
              position: absolute;
              bottom: -5px;
              left: 0;
              transition: width 0.3s ease-in-out;
            }

            &:hover {
              &:after {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .buttons {
      display: flex;

      button {
        padding: 8px 20px;
        border-radius: 30px;
        
        margin-left: 10px;

        &:first-child {
          background-color: transparent;
          border: 1px solid white;
          margin-right: 10px;
        }

        &:last-child {
          background-color: white;
          color:$accent-color;
          border: solid;
          border-color:$accent-color ;
        }
      }
    }
  }




  
  .hero {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    img {
      width: 100%;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
  h1 {
    font-size: 50px;
    width: 555px;
    height: 140px;
  }
  p {
    font-size: 16px;
    color:$primary-color;
  }
  .bb {
    font-weight:600;
  }
     
        .cta {
          padding: 12px 30px;
          border-radius: 10px;
          background-color: $accent-color;
          color: white;
          display: inline-block;
          box-shadow: 0 4px 5px $accent-color;
          width: 250px;
        

      }
    }
  }


  .card-container {
    align-items: center;
    display: flex;
    margin-left: 100px;
    height: 330px;
   
  
    .card {
      box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
      flex-basis: calc(33.33% - 20px);
      padding: 50px;
      display: flex;
      align-items: center;
  
  
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 20px;
      }
  
      h2 {
        font-size: 2rem;
        margin-top: 0;
        flex-grow: 1;
      }
  
      p {
        padding: 10px;
        color:$primary-color;
      }
    }
  }



// Features
.features {
    padding-bottom: 105px;
   
   margin: auto;
   gap: 210px;

   p, li {
    align-items: center;
    color: $primary-color;
   }
   span {
    align-items: center;
    color: $primary-color;
   }
  
    .photo {
      flex-basis: 33.333%;
      padding-right: 20px;
  
    }
    .features-list {
        width:500px;
    }
  
      h2 {
        font-size: 2rem;
        margin-bottom: 10px;
      }
  
  
      .feature {
        margin-bottom: 20px;

  
        h3 {
          font-size: 1.5rem;
          margin-bottom: 5px;
        }
  
        p {
          font-size: 1rem;
          line-height: 1.5;
        }
      }
    }
  
  

// Plans
.plan-section {
  background-color: #f2f2f2;
  padding: 40px 0;
  text-align: center;

  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.plan-options {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.plan-option {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-basis: calc(33.33% - 20px);
  margin: 0 10px;
  padding: 30px;
  text-align: center;
  &:hover {
    border: solid;
    border-color: $accent-color;
  }

  img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: $primary-color;

    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 10px;
      margin-top: 5px;

    }
  }

  h2 {
    font-size: 32px;
    font-weight: normal;
    margin: 30px 0;
  }

  .mo {
    font-size: 18px;
    margin-left: 5px;
    color: $primary-color;
  }
}

.select-plan {
  border: solid;
  border-color: $accent-color;
  border-radius: 30px;
  color:$accent-color ;
  font-size: 18px;
  padding: 10px 30px;
  cursor: pointer;
  height: 50px; 

  &:hover {
    background-color:$accent-color ;
    color: #fff;
  }
}

  .map {
    h2{
        text-align: center;
        padding: 10px;
    }
    p {
      text-align: center;
      color: $primary-color;
      padding: 10px;
    }
    img {
        padding: 10px;
        width: 100%;
    }
  }
  .social {
    img{
      width: 100%;
    }
  }
// Testimonials
.testimonials {
  h2 {
    text-align: center;
  }
  .oo {
    text-align: center;
    color: $primary-color;
  }

  .slider {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;

    .slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;

      &.active {
        opacity: 1;
      }

      p {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
      }
    }

    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      font-size: 50px;
      color: #c42424;
      outline: none;

      &.prev {
        left: 878px;
      }

      &.next {
        right: 0;
      }
    }
  }

  .slider-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #e60d0d;
      margin: 0 5px;
      cursor: pointer;

      &.active {
        background-color: #e41d1d;
      }
    }
  }

  .pagination {
   display: flex;
    align-items: center;
    margin-top: 245px;

    .pagination-item {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $primary-color;
      margin: 0 5px;
      cursor: pointer;

      &.active {
        background-color: $accent-color;
      }
    }
  }
}
// Subscribe 
.subscribe {
  padding: 48px 0;

    h2 {
      font-size: 40px;
      margin-bottom: 16px;
      width: 410px;
    }

    p {
      font-size: 20px;
      margin-bottom: 32px;
      color: $primary-color;
    }

    button {
      font-size: 20px;
      padding: 16px 32px;
      background-color: $accent-color;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
     width: 250px;
     box-shadow: 0 5px 5px $accent-color;
    }
  }
  // Footer
  .footer-section {
    background-color: $secondary-color;
  
      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
  
        .icons {
          display: flex;
          flex-direction: row;
          list-style-type: none;
          padding: 0;
        }
          img{
            padding: 10px;
          }
          li {
            margin-right: 10px;
          }
          p{
            color: $primary-color;
          }
          .bb {
            font-weight: 600;
          }


        }
      }
    
      .right {
        h3 {
          margin-bottom: 10px;
        }
  
        ul {
          list-style-type: none;
          display: inline-block; 
          vertical-align: top; 
  
          li {
            display: block; 
            margin-bottom: 5px; 
          }
        }
  
       
        ul {
          display: inline-block;
          padding-left: 30px;
        }
        }
      
  
  